
# HTTPS configuration for abogadosespecialistasenpensiones.com
abogadosespecialistasenpensiones.com, www.abogadosespecialistasenpensiones.com {
    reverse_proxy abogadosespecialistasenpensiones:3000
    tls /etc/ssl/certs/custom/abogadosespecialistasenpensiones.pem /etc/ssl/private/custom/abogadosespecialistasenpensiones.pem
}
